

.container{
    position: relative;
    width: 500px;
    height: 500px;
    top: 10px;
    left: 30px;
    background-color: cadetblue;

}


.box2{
    position: relative;
    top: 10px;
    left:10px;
    border:  1px solid red;

}

/* 
.box3{
    position: absolute;
    top: 10px;
    left:10px;

} */


.fixed{
    position: fixed;
    background-color: red;
    top: 100px;
    right: 100px;
    border-radius: 10%;
    width: 200px;
    height: 50px;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
