* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* ScrollSmoother wrapper styles */
#smooth-wrapper {
    overflow: hidden;
}

#smooth-content {
    overflow: visible;
}

header {
    height: 500px;
}

header h1 {
    font-size: 60px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 0;
    padding-block: 30px;
}

header img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

#horizontal .content {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    flex-shrink: 0;
}

#horizontal {
    display: flex;
    overflow-x: hidden;
}

#horizontal .content:nth-child(1) {
    background: #efefef;
}

#horizontal .content:nth-child(2) {
    background: #fb6c6c;
}

#horizontal .content:nth-child(3) {
    background: #4fe191;
}

#horizontal .content:nth-child(4) {
    background: #aca3ff;
}

footer {
    max-width: 700px;
    margin-inline: auto;
    line-height: 1.9;
    padding: 50px 20px;
}